<!-- 공통으로 사용될 css, js 추가 코드-->
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<!-- 2번 정의 됨. header에서 -->
<!-- <script th:inline="javascript">

  const loginCheck =/*[[${session.loginMember != null}]]*/ false;

  const notificationDefaultImage 
    = /*[[#{user.default.image}]]*/ "유저기본이미지";
</script> -->


<script src="https://kit.fontawesome.com/7dcf32e440.js" crossorigin="anonymous"></script>
