<!-- 헤더 영역 -->
<header class="header">
  <a href="/">
    <h2 style="color: black;">LOGO</h2>
  </a>
  <nav>
    <a href="#">병원정보</a>
    <a href="#">애완용품</a>
    <a href="#">분양정보</a>
    <a href="#">자유게시판</a>
  </nav>
  <div th:unless="${session.loginMember}" class="icons" style="margin-right: 50px;">
    <button id="login">로그인</button>
    <span>/</span>
    <button id="registerBtn">회원가입</button>

  </div>

  <div th:if="${session.loginMember}">
    <label for="headerMenuToggle">
      [[${session.loginMember.memberNickname}]]

      <i class="fa-solid fa-caret-down"></i>
    </label>
    <input type="checkbox" id="headerMenuToggle">

    <div class="header-menu">
      <a href="/member/logout">로그아웃</a>
    </div>
  </div>
</header>