<!-- 헤더 영역 -->
<header class="header">
  <div>
    <a href="/">
      <h1 style="color: black;"  class="logo">REPET</h1>
    </a>

  </div>
  <nav>
    <a href="#">병원정보</a>
    <a href="#">애완용품</a>
    <a href="/adopt/main">분양정보</a>
    <a href="#">자유게시판</a>
  </nav>
  <div th:unless="${session.loginMember}" class="icons" style="margin-right: 40px;">
    <button id="login">로그인</button>
    <span>/</span>
    <button id="registerBtn">회원가입</button>

  </div>

  <div th:if="${session.loginMember}" class="header-menu">
    <!-- <label for="headerMenu">
      [[${session.loginMember.memberNickname}]]

      <i class="fa-solid fa-caret-down"></i>
    </label> -->

    <div class="header-menu">
      <a href="/member/profile" id="profile">프로필</a>
      <span>/</span>
      <a href="/member/logout" id="logout">로그아웃</a>
    </div>
  </div>
</header>