 <!-- 헤더 영역 -->
 <header class="header">
  <div class="logo">LOGO</div>
  <nav>
      <a href="#">병원정보</a>
      <a href="#">애완용품</a>
      <a href="#">분양정보</a>
      <a href="#">자유게시판</a>
  </nav>
  
  <div class="icons">
    <span id="loginBtn">로그인</span>
    <span>/</span>
    <span id="registerBtn">회원가입</span>
    <!-- <img src="/images/notify.png"> -->
    <!-- <img src="/images/basket.png"> -->
    <!-- <img src="/images/profile.png"> -->
    <!-- <div class="profile-img"></div> -->
  </div>
</header>