<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- common/header.html 을 조각으로 추가 -->
  <th:block th:replace="~{common/header}"></th:block>

  <section class="content">
    <section class="content-2">

      <table border="1" class="mainImage">
        <img src="" alt="">
      </table>

      <table>
        <thead>
          <tr>
            <th>유기동물 로고 사진</th>
            <th>유기동물</th>
          </tr>

          <tr>
            <th>
              <form action="">분양정보 보기</form>
            </th>
          </tr>

          <tr>
            <th>
              <div id="ab animals-image">
                <img src="" alt="">
              </div>
            </th>

            <th>
              <div id="ab animals-image">
                <img src="" alt="">
              </div>
            </th>

            <th>
              <div id="ab animals-image">
                <img src="" alt="">
              </div>
            </th>
            
            <th>
              <div id="ab animals-image">
                <img src="" alt="">
              </div>
            </th>

          </tr>

        </thead>

      </table>


    </section>





  </section>
</body>

</html>