<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>

  </head>
  <body>
    <div class="modal-overlay popup-hidden">
      <div class="modal">
          <!-- <div class="modal-header">
              <h3 class="modal-title">상세정보</h3>
              <span class="close-button">×</span>
          </div>
        <div class="modal-content">
          <table class="detail-table" th:each="board : ${boardList}">
              <tr>
                  <td>게시판명</td>
                  <td th:text="*{boardName}">자유게시판</td>
              </tr>
              <tr>
                  <td>작성자</td>
                  <td th:text="*{memberNickname}">김등이</td>
              </tr>
              <tr>
                  <td>날짜</td>
                  <td th:text="*{boardWriteDate}">2024-10-22 15:30:22</td>
              </tr>
              <tr>
                  <td>제목</td>
                  <td th:text="*{boardTitle}">개발</td>
              </tr>
              <tr>
                  <td>내용</td>
                  <td th:text="*{boardContent}">개발하자</td>
              </tr>
              <tr>
                  <td>이미지</td>
                  <td th:text="*{imgPath}">logo.png(클릭시 이미지 경로로 이동)</td>
              </tr>
          </table>
        </div> -->
      </div>
    </div>

    <script src="/js/manager/transaction/management.js"></script>
  </body>
</html>