<!-- 왼쪽 사이드 메뉴 조각(fragment) 
  -> 필요한 곳에서
   th:replace="~{조각경로}" / th:insert="~{조각경로}" 
-->

<section class="left-side">
  <h2>관리자 페이지</h2>

  <ul class="side-menu">
    <li>
      <a href="#">회원 목록</a>
    </li>
    <li>
      <a href="boardManager/boardManagement">자유게시판 관리</a>
    </li>
    <li>
      <a href="#">자유게시판 게시물 신고</a>
    </li>
    <li>
      <a href="#">자유게시판 댓글 신고</a>
    </li>
    <li>
      <a href="/manager/transaction/management">중고거래 관리</a>
    </li>
    <li>
      <a href="/manager/transaction/report">중고거래 신고 목록</a>
    </li>
  </ul>

</section>