<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Page</title>

   <!-- 공용 css/js 추가 -->
   <th:block th:replace="~{common/common}"></th:block>

   <!-- myPage 전용 css -->
   <link rel="stylesheet" href="/css/myPage/myPage-style.css">
</head>
<body>

  <main>

    <!-- 헤더 -->
    <th:block th:replace="~{common/header}"></th:block>

    <!-- 사이드바 -->
    <th:block th:replace="~{myPage/sideMenu}"></th:block>
    
    

    <!-- 메인 컨텐츠 -->
    <section class="main-content">

      <div class="profile-box">
        <h2>내 정보</h2>
        <div class="profile-details">
          <div class="profile-text">
            <img id="profile-img" th:src="${session.loginMember.profileImg != null} ? '/images/profile/' + ${session.loginMember.profileImg} : '/images/user.png'" alt="Profile Image">
            <div style="font-size: 20px;">
              <h3>RePet에 오신것을 환영합니다!</h3>
              <span><strong>아이디</strong>&nbsp;&nbsp;&nbsp;<span th:text="${member.memberEmail}">hx122</span></span>
              <span><strong>닉네임</strong>&nbsp;&nbsp;&nbsp;<span th:text="${member.memberNickname}">홍길동</span></span>
              <span><strong>가입일</strong>&nbsp;&nbsp;&nbsp;<span th:text="${member.enrollDate}">2024-10-22 13:55:24</span></span>
            </div>
          </div>
        </div>
      </div>

    <div class="like-board" id="likeList">
      <!-- 제목 추가 -->
      <div class="like-board-header">
        <i class="fa-solid fa-heart" style="margin-right: 30px; color: #FF7F7F;"></i>
        <h4>내가 좋아한 게시물 <th:block th:text="'(' + ${likeCount} + ')'"></th:block></h4> 
      </div>
      

      <div id="memberNo" th:text="${member.memberNo}" style="display: none;"></div>


        <!-- <div class="like-item">
          <div class="like-item-title">내용내용내용내용내용내용내용내용내용내용</div>
          <div class="like-item-sub">(자유게시판)</div>
        </div> -->
        

      <!-- 페이지 네이션 -->
      <div class="pagination-box">
        <!-- <a href="#" class="page-btn first-page" data-page="1">&lt;&lt;</a>
        <a href="#" class="page-btn prev-page" data-page="1">&lt;</a> -->
      
        <a href="#" class="page-btn" data-page="1">1</a>
        <!-- <a href="#" class="page-btn" data-page="2">2</a>
        <a href="#" class="page-btn" data-page="3">3</a>
        <a href="#" class="page-btn" data-page="4">4</a>
        <a href="#" class="page-btn" data-page="5">5</a> -->
      
        <!-- <a href="#" class="page-btn next-page" data-page="2">&gt;</a>
        <a href="#" class="page-btn last-page" data-page="5">&gt;&gt;</a> -->
      </div>

    </div>

    <th:block th:replace="~{myPage/modifyModal}"></th:block>

    <th:block th:replace="~{myPage/deleteModal}"></th:block>

  </section>



  </main>

  <script src="/js/myPage/myPage.js"></script>


  <script th:inline="javascript">
		const message = /*[[${message}]]*/ null;
    
    if (message) {
        alert(message);  // 또는 커스텀 알림 스타일로 표시
    }
	</script>
</body>
</html>
