<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 수정</title>

  <th:block th:replace="~{common/common}"></th:block>

  <link rel="stylesheet" href="/css/myPage/myPage-style.css">
</head>
<body>
  <main class="info-main">

    <!-- 헤더 -->
    <th:block th:replace="~{common/header}"></th:block>

    <!-- 사이드바 -->
    <th:block th:replace="~{myPage/sideMenu}"></th:block>

     <!-- 메인 컨텐츠 -->
     <section class="main-content" style="padding: 0;">

      <div class="info-box">
        <div class="icon-container">
          <i class="fa-solid fa-xmark"></i>
          <img src="/images/profile.png" alt="Profile Image">
          <i class="fa-solid fa-camera"></i>
        </div>
        <h4>정보 수정</h4>
        <form>
          <input type="email" value="hong@nave.rcom" readonly>
          <span class="info-text">최소 8글자 이상, 대문자, 특수문자 포함필수</span>
          <input type="password" placeholder="기존 비밀번호 입력" required>
          <span class="info-text">최소 8글자 이상, 대문자, 특수문자 포함필수</span>
          <input type="password" placeholder="새 비밀번호 확인" required>
          <span class="info-text">최소 8글자 이상, 대문자, 특수문자 포함필수</span>
          <input type="password" placeholder="새 비밀번호" required>
          <span class="info-text">최소 8글자 이상, 대문자, 특수문자 포함필수</span>
          <input type="text" placeholder="닉네임" required>
          <span class="info-text">최소 8글자 이상, 대문자, 특수문자 포함필수</span>

          <div class="info-btn"> 
            <button type="submit" id="cancelBtn">취소</button>
            <button type="submit" id="createBtn">수정하기</button>
          </div>
        </form>
        
      </div>

    </section>

  </main>

  
  <script src="/js/myPage/myPage.js"></script>
</body>
</html>