<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 수정</title>

  <th:block th:replace="~{common/common}"></th:block>

  <link rel="stylesheet" href="/css/myPage/myPage-style.css">
</head>
<body>
  <main class="info-main">

    <!-- 헤더 -->
    <th:block th:replace="~{common/header}"></th:block>

    <!-- 사이드바 -->
    <th:block th:replace="~{myPage/sideMenu}"></th:block>

     <!-- 메인 컨텐츠 -->
     <section class="main-content" style="padding: 0;">

        <div class="modal-overlay">
          <div class="modal-content">

            <div class="modal-delete">
              <h2 style="text-align: center; margin-bottom: 30px;">회원탈퇴</h2>
            </div>

              <p>가입된 회원 정보가 모두 삭제됩니다. 작성하신 게시물은 삭제되지 않습니다.</p>
              <p>회원 탈퇴 후 동일한 계정으로 재가입하실 경우, 기존에 보유하신 정보는 복원되지 않습니다.</p>
              <p>회원 탈퇴를 진행하시겠습니까?</p>

              <input type="password" placeholder="비밀번호를 입력해주세요." class="modal-input">
              
            <div class="modal-buttons">
              <button class="cancel-btn" id="deleteCancelBtn">취소</button>
              <button class="confirm-btn" id="deleteBtn">탈퇴하기</button>
            </div>
          </div>
        </div>
      </section>
    
  </main>
    
</body>
</html>