<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="edu.kh.repet.flea.mapper.EditFleaMapper">
    <!--
        useGeneratedKeys 속성
        - DB에서 내부적으로 생성된 KEY(시퀀스)를 사용할 수 있는 상태 여부 지정
        ==> 전달 받은 파라미터 객체의 필드에 대입 가능

        ** 동적 SQL **
        - 프로그램 수행 중 SQL을 변경하는 기능 (마이바티스의 가장 강력한 기능)

        <selectKey> 태그 : INSERT/UPDATE 시 사용할 키(시퀀스)를
                        조회해서 파라미터의 지정된 필드에 대입

        order 속성 : 메인 SQL이 수행되기 전/후에 selectkey가 수행되도록 지정
        전 : BEFORE
        후 : AFTER

        keyProperty 속성 : selectKey 조회 결과를 저장할 파라미터의 필드
    -->



    <!-- 게시글 글 부분 insert-->
    <insert id="boardInsert" parameterType="Flea" useGeneratedKeys="true">

        <selectKey order="BEFORE" resultType="_int" keyProperty="boardNo">
            SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO "BOARD"
                    (BOARD_NO, BOARD_TITLE, BOARD_CONTENT,
                     BOARD_WRITE_DATE, BOARD_UPDATE_DATE, READ_COUNT, BOARD_DEL_FL,
                     MEMBER_NO, BOARD_CODE)
        VALUES (    #{boardNo}, #{boardTitle}, #{boardContent},
                    DEFAULT, NULL, DEFAULT, DEFAULT,
                    #{memberNo}, 3)


    </insert>

    <!-- 중고거래 부분 insert -->

    <!--오류 발생시 mapper.java 이걸로 수정 ==> @Param("inputFlea") Flea inputFlea, @Param("boardNo") int boardNo -->
    <insert id="fleaInsert" parameterType="Flea">
        INSERT INTO "FLEA_BOARD"
                    (PRICE, GOODS)
        VALUES  (   #{price}, #{goods})
        WHERE   BOARD_NO = #{board_no}
    </insert>


                <!-- 상단 두 SQL INSERT 문 두개를 동시에 진행가능한지 테스트 -->
                    <insert id="insertBoardAndFleaBoard" parameterType="Flea">
                        INSERT INTO BOARD (BOARD_NO, BOARD_TITLE, BOARD_CONTENT,
                        BOARD_WRITE_DATE, BOARD_UPDATE_DATE,
                        READ_COUNT, BOARD_DEL_FL, MEMBER_NO, BOARD_CODE)
                        VALUES (SEQ_BOARD_NO.NEXTVAL, #{boardTitle}, #{boardContent},
                        CURRENT_DATE, NULL, 0, 'N', #{memberNo}, 3);

                        <selectKey keyProperty="boardNo" order="AFTER">
                            SELECT SEQ_BOARD_NO.CURRVAL
                        </selectKey>

                        INSERT INTO FLEA_BOARD (BOARD_NO, PRICE, GOODS)
                        VALUES (#{boardNo}, #{price}, #{goods});
                    </insert>


<!--    // 이미지 여러개 삽입-->
    <insert id="insertUploadList">
        INSERT INTO "BOARD_IMG"
        <foreach collection="list" item="img"
                 open="(" close=")" separator=" UNION ALL ">
            SELECT
            NEXT_IMG_NO(),
            #{img.imgPath},
            #{img.imgRename},
            #{img.imgOrder},
            #{img.boardNo}
            FROM DUAL
        </foreach>
    </insert>


<!--    // 게시글 삭제-->
    <update id="fleaDelete">
        UPDATE	BOARD
        SET		BOARD_DEL_FL = 'Y'
        WHERE	MEMBER_NO    = #{memberNo}
          AND	BOARD_NO     = #{boardNo}
    </update>


<!--    // 게시글 부분 수정-->
    <update id="fleaUpdate">
        UPDATE	"BOARD"
        SET		BOARD_TITLE   = #{boardTitle},
                BOARD_CONTENT = #{boardContent}
        WHERE	BOARD_CODE    = 3
          AND	BOARD_NO      = #{boardNo}
          AND	MEMBER_NO     = #{memberNo}
    </update>


<!--    // 기존에 존재하던 이미지 'DB' 에서 삭제 (서버 경로 폴더에는 여전히 존재)-->
    <delete id="deleteImage">
        DELETE
        FROM	"BOARD_IMG"
        WHERE	BOARD_NO = #{boardNo}
          AND 	IMG_ORDER IN(${deleteOrderList})
    </delete>


<!--    // 이미지 1행 수정-->
    <update id="updateImage">
        UPDATE	"BOARD_IMG"
        SET		IMG_RENAME        = #{imgRename}
        WHERE	BOARD_NO          = #{boardNo}
          AND	IMG_ORDER         = #{imgOrder}
    </update>


<!--    // 새 이미지 1행 삽입-->
    <insert id="insertImage">
        INSERT
        INTO	"BOARD_IMG"
        VALUES (SEQ_IMG_NO.NEXTVAL,
                #{imgPath},
                #{imgOriginalName},
                #{imgRename},
                #{imgOrder},
                #{boardNo}
               )
    </insert>


</mapper>
