<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- Mapper 인터페이스와 연결하는 방법 : namespace 속성 값으로 Mapper 인터페이스의 패키지명 + 인터페이명 작성 -->
<mapper namespace="edu.kh.repet.manager.mapper.ManagerMapper">
  

	<!-- 전체 회원 수 -->
	<select id="selectMemberCount" resultType="_int">
		SELECT COUNT(*)
		FROM "MEMBER" M
		WHERE MEMBER_NO > 0
	</select>
	
	
	<!-- 전체 회원 조회 -->
	<select id="selectMemberList" resultType="Member">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NICKNAME, 
			   TO_CHAR(ENROLL_DATE, 
				'YYYY-MM-DD HH24:MI:SS') ENROLL_DATE,
				
				(SELECT COUNT(BOARD_NO)
				 FROM BOARD B
				 WHERE B.MEMBER_NO = M.MEMBER_NO) "boardCount",
				 
				(SELECT COUNT(COMMENT_NO)
				 FROM "BOARD_COMMENT" C
				 WHERE C.MEMBER_NO = M.MEMBER_NO) "commentCount",
				 
			   MEMBER_DEL_FL
			   
		FROM "MEMBER" M
		WHERE MEMBER_NO > 0
		ORDER BY MEMBER_NO ASC
	</select>
	
	
	<update id="changeStatus">
	  UPDATE "MEMBER"
	  SET MEMBER_DEL_FL = DECODE(MEMBER_DEL_FL ,  'Y', 'N' ,'Y')
	  WHERE MEMBER_NO = #{memberNo}
	 	</update>
  	
  	

</mapper>
