<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- Mapper 인터페이스와 연결하는 방법 : namespace 속성 값으로 Mapper 인터페이스의 패키지명 + 인터페이명 작성 -->
<mapper namespace="edu.kh.repet.manager.mapper.ManagerMapper">
  
	 <select id="getListCount" resultType="_int">
	 	SELECT COUNT(*)
	 	FROM "BOARD" B
	 	JOIN "BOARD_TYPE" BT ON (B.BOARD_CODE = BT.BOARD_CODE)
	 	WHERE B.BOARD_CODE = 3
	 	AND BOARD_DEL_FL = 'N'
	 </select>
	
	 <select id="selectBoardList" resultType="Board">
		 	SELECT 
		ROW_NUMBER() OVER (ORDER BY BOARD_NO ASC) AS "RNUM",
		BOARD_NO,
		BOARD_TITLE,
		BOARD_CONTENT,
		BOARD_WRITE_DATE,
		MEMBER_NICKNAME
		
		FROM "BOARD" B
		
		JOIN "BOARD_TYPE" BT ON (B.BOARD_CODE = BT.BOARD_CODE)
		JOIN "MEMBER" M ON (B.MEMBER_NO = M.MEMBER_NO)
		
		WHERE 
			BOARD_DEL_FL = 'N' 
		AND   
			B.BOARD_CODE = 3  
		ORDER BY 
			RNUM DESC
	 </select>
	 
	 
	 
	   <!-- 검색 조건이 맞는 게시글 수 조회 -->
	 <select id="getSearchCount" resultType="_int">
	 	SELECT COUNT(*)
	FROM "BOARD"
	JOIN "BOARD_TYPE" BT ON (B.BOARD_CODE = BT.BOARD_CODE)
	JOIN "MEMBER" M ON (B.MEMBER_NO = M.MEMBER_NO)
	WHERE B.BOARD_CODE = 3 
	AND BOARD_DEL_FL = 'N'
	AND BOARD_TITLE LIKE '%' || #{query} || '%'
	OR 	MEMBER_NICKNAME LIKE '%' || #{query} || '%'
	OR	BOARD_CONTENT LIKE '%' || #{query} || '%'
  </select>
	 
	 <!-- 검색 목록 조회 -->
	 <select id="selectSearchList" resultType="Board">
	 	SELECT 
	ROW_NUMBER() OVER (ORDER BY BOARD_NO ASC) AS "RNUM",
	BOARD_NO,
	BOARD_TITLE,
	BOARD_CONTENT,
	BOARD_WRITE_DATE,
	MEMBER_NICKNAME
	
	FROM "BOARD" B
	JOIN "BOARD_TYPE" BT ON (B.BOARD_CODE = BT.BOARD_CODE)
	JOIN "MEMBER" M ON (B.MEMBER_NO = M.MEMBER_NO)
	WHERE 
		BOARD_DEL_FL = 'N' 
	AND   
		B.BOARD_CODE = 3  
	AND BOARD_DEL_FL = 'N'
	AND BOARD_TITLE LIKE '%' || #{query} || '%'
	OR 	MEMBER_NICKNAME LIKE '%' || #{query} || '%'
	OR	BOARD_CONTENT LIKE '%' || #{query} || '%'
	ORDER BY 
		RNUM DESC
  </select>
  
  <!-- 중고 신고 게시판 -->
  <select id="getReportListCount" resultType="_int">
  	SELECT COUNT(*)
  	FROM "BOARD" B
  	JOIN "BOARD_TYPE" BT ON (B.BOARD_CODE = BT.BOARD_CODE)
  	JOIN "REPORT_BOARD" R ON (B.BOARD_NO = R.BOARD_NO)
  	WHERE B.BOARD_CODE = 3
  	AND BOARD_DEL_FL = 'N'
  </select>
  

	 <select id="selectReportList" resultType="Board">
	 	SELECT 
	ROW_NUMBER() OVER (ORDER BY BOARD_NO ASC) AS "RNUM",
	BOARD_NO,
	BOARD_TITLE,
	REPORT_CATEGORY_CONTENT,
	REPORT_WRITE_DATE,
	MEMBER_NICKNAME,
	REPORT_COUNT
	
	FROM "BOARD" B
	JOIN "BOARD_TYPE" BT ON (B.BOARD_CODE = BT.BOARD_CODE)
  	JOIN "REPORT_BOARD" R ON (B.BOARD_NO = R.BOARD_NO)
	JOIN "MEMBER" M ON (B.MEMBER_NO = M.MEMBER_NO)
	JOIN "REPORT_CATEGORY" RC ON (RC.REPORT_CATEGORY = R.REPORT_CATEGORY)
	WHERE 
		BOARD_DEL_FL = 'N' 
	AND   
		B.BOARD_CODE = 3  
	ORDER BY 
		RNUM DESC
  </select>

 
	   <!-- 검색 조건이 맞는 게시글 수 조회 -->
	 <select id="getSearchReportCount" resultType="_int">
	 	SELECT COUNT(*)
	FROM "BOARD"
	JOIN "BOARD_TYPE" BT ON (B.BOARD_CODE = BT.BOARD_CODE)
	JOIN "MEMBER" M ON (B.MEMBER_NO = M.MEMBER_NO)
	WHERE B.BOARD_CODE = 3 
	AND BOARD_DEL_FL = 'N'
	AND BOARD_TITLE LIKE '%' || #{query} || '%'
	OR 	MEMBER_NICKNAME LIKE '%' || #{query} || '%'
	OR	BOARD_CONTENT LIKE '%' || #{query} || '%'
	  </select>

	 <!-- 검색 목록 조회 -->
	 <select id="selectSearchReportList" resultType="Board">
	 	SELECT 
	ROW_NUMBER() OVER (ORDER BY BOARD_NO ASC) AS "RNUM",
	BOARD_NO,
	BOARD_TITLE,
	REPORT_CATEGORY_CONTENT,
	REPORT_WRITE_DATE,
	MEMBER_NICKNAME,
	REPORT_COUNT
	FROM "BOARD" B
	JOIN "BOARD_TYPE" BT ON (B.BOARD_CODE = BT.BOARD_CODE)
  	JOIN "REPORT_BOARD" R ON (B.BOARD_NO = R.BOARD_NO)
	JOIN "MEMBER" M ON (B.MEMBER_NO = M.MEMBER_NO)
	JOIN "REPORT_CATEGORY" RC ON (RC.REPORT_CATEGORY = R.REPORT_CATEGORY)
	WHERE 
		BOARD_DEL_FL = 'N' 
	AND   
		B.BOARD_CODE = 3  
	AND BOARD_DEL_FL = 'N'
	AND BOARD_TITLE LIKE '%' || #{query} || '%'
	OR 	MEMBER_NICKNAME LIKE '%' || #{query} || '%'
	OR	BOARD_CONTENT LIKE '%' || #{query} || '%'
	ORDER BY 
		RNUM DESC
	 </select>
  

	<!-- 전체 회원 수 -->
	<select id="selectMemberCount" resultType="_int">
		SELECT COUNT(*)
		FROM "MEMBER" M
		WHERE MEMBER_NO > 0
	</select>
	
	
	<!-- 전체 회원 조회 -->
	<select id="selectMemberList" resultType="Member">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NICKNAME, 
			   TO_CHAR(ENROLL_DATE, 
				'YYYY-MM-DD HH24:MI:SS') ENROLL_DATE,
				
				(SELECT COUNT(BOARD_NO)
				 FROM BOARD B
				 WHERE B.MEMBER_NO = M.MEMBER_NO) "boardCount",
				 
				(SELECT COUNT(COMMENT_NO)
				 FROM "BOARD_COMMENT" C
				 WHERE C.MEMBER_NO = M.MEMBER_NO) "commentCount",
				 
			   MEMBER_DEL_FL
			   
		FROM "MEMBER" M
		WHERE MEMBER_NO > 0
		ORDER BY MEMBER_NO ASC
	</select>
	
	
	<update id="changeStatus">
	  UPDATE "MEMBER"
	  SET MEMBER_DEL_FL = DECODE(MEMBER_DEL_FL ,  'Y', 'N' ,'Y')
	  WHERE MEMBER_NO = #{memberNo}
	 	</update>
  	
  	

</mapper>
