<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>입양 페이지</title>

  <style>
  
  *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

  body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-content: stretch;
  }

  main{
    height:max-content;
  }

  div{
    padding: 10px;
    background-color: cadetblue;
    border: 1px solid black;
  }

  .adoptList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.5rem 2rem;
  }

  .box > div{
    background-color: rgb(210, 230, 141);
  }


  </style>

  <link rel="stylesheet" href="/css/adopt/main.css">
</head>

<body>
  <main>
    <header>헤더</header>

    <div> 검색 </div>

    <div class="adoptList">
      <div class="box">
        <div class="popfile">사진</div>
        <div class="content">내용요약</div>
      </div>

      <div class="box">
        <div class="popfile">사진</div>
        <div class="content">내용요약</div>
      </div>
      <div class="box">
        <div class="popfile">사진</div>
        <div class="content">내용요약</div>
      </div>
      <div class="box">
        <div class="popfile">사진</div>
        <div class="content">내용요약</div>
      </div>
      <div class="box">
        <div class="popfile">사진</div>
        <div class="content">내용요약</div>
      </div>
      <div class="box">
        <div class="popfile">사진</div>
        <div class="content">내용요약</div>
      </div>
      <div class="box">
        <div class="popfile">사진</div>
        <div class="content">내용요약</div>
      </div>
      <div class="box">
        <div class="popfile">사진</div>
        <div class="content">내용요약</div>
      </div>
    </div>
    
    <div>더보기</div>

  </main>

  <script src="/js/adopt/main.js"></script>
</body>
</html>