<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>입양 페이지</title>


  <link rel="stylesheet" href="/css/adopt/main.css">
</head>

<body>
  <main>
    <th:block th:replace="~{header}"></th:block>

    <div>
      <div> 검색(강아지/고양이/기타)</div>
    </div>

    <div class="adoptList" th:each="adopt : ${adoptList}">
      <div class="box">
        <div class="popfile">
          <img th:src="${adopt.popfile}" alt="Adopt Image"/>
        </div>
        <div class="content">
          <div class="contentDetail" th:text="*{kindCd}"></div>
          <p>나이: <span th:text="${adopt.age}"></span></p>
          <p>품종: <span th:text="${adopt.kindCd}"></span></p>
        </div>
      </div>

      <div class="box">
        <div class="popfile">사진</div>
        <div class="content">내용요약</div>
      </div>
      <div class="box">
        <div class="popfile">사진</div>
        <div class="content">내용요약</div>
      </div>
      <div class="box">
        <div class="popfile">사진</div>
        <div class="content">내용요약</div>
      </div>
      <div class="box">
        <div class="popfile">사진</div>
        <div class="content">내용요약</div>
      </div>
      <div class="box">
        <div class="popfile">사진</div>
        <div class="content">내용요약</div>
      </div>
      <div class="box">
        <div class="popfile">사진</div>
        <div class="content">내용요약</div>
      </div>
      <div class="box">
        <div class="popfile">사진</div>
        <div class="content">내용요약</div>
      </div>
    </div>
    
    <div class="plusBox">
      <button class="plusBtn">더보기</button>
    </div>

    <footer>푸터</footer>
  </main>

  <script src="/js/adopt/main.js"></script>
</body>
</html>