
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/css/adopt/main.css">
</head>
<body>
  
  <div class="dtModal-bg popup-hidden">
    <div class="popup-container">
        <span class="close-btn">×</span>
        <div class="popup-header">
          품종 | 나이
          <br>
          성별 | 중성화 여부
        </div>
        <img src="/api/placeholder/150/150" alt="반려동물 이미지" class="pet-image">
        <div class="info-list">
          <div class="info-item">보호소 :</div>
          <div class="info-item">보호소 TEL:</div>
          <div class="info-item">보호소 주소:</div>
          <br>
          <div class="info-title">상태</div>
          <div class="info-item">공고번호</div>
          <div class="info-item">공고기간</div>
          <div class="info-item">발견장소</div>
          <div class="info-item">특징</div>
        </div>
      </div>
  </div> 


</body>
</html>