 /* 모달 백그라운드 */
 .modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* 모달 창 */
.modal-container {
  width: 40%;
  min-height: 40%; /* 세로 사이즈를 더 크게 설정 */
  background-color: #f8f8f8;
  padding: 30px 20px; /* 상하 패딩을 늘려서 여백 추가 */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* 모달 상단 영역 */
.modal-header {
  display: flex;
  justify-content: flex-end; /* 제목을 가운데로 배치 */
  align-items: center;
  margin: 10px 0 38px 0;
  position: relative;
}

/* 제목 가운데 배치 */
.modal-title {
  font-size: 18px;
  font-weight: bold;
  color: #666;
  background-color: #fdd897;
  padding: 8px 16px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* 닫기 및 삭제 버튼 */
.button-group {
  display: flex;
  gap: 5px; /* 닫기와 삭제 버튼 간격 */
  position: absolute;
  top: 6px;
  right: 0;
}

.close-btn, .delete-btn {
  background-color: #e0e0e0;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.close-btn:hover, .delete-btn:hover {
  background-color: #fdd897;
}

/* 테이블 스타일 */
.info-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.info-table th, .info-table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

.info-table th {
  background-color: #e6e6e6;
  font-weight: normal;
}

.info-table td a {
  color: #333;
  text-decoration: none;
}

/* 클릭 시 이미지 이동 텍스트 스타일 */
.board-image {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}


.page-btn.active {
  background-color: #E8D8C3; /* 원하는 색상으로 변경 */
  border-radius: 5px;
}


/* 링크 기본 스타일 */
.clickable-link {
  color: #007bff; /* 파란색 텍스트 */
  text-decoration: underline; /* 밑줄 추가 */
  cursor: pointer; /* 클릭 가능한 커서 */
}

/* 링크에 마우스를 올렸을 때 스타일 */
.clickable-link:hover {
  color: #0056b3; /* 더 짙은 파란색으로 변경 */
  text-decoration: none; /* 밑줄 제거 */
}