<div class="modal-overlay popup-hidden" id="modalOverlay">
  <div class="modal">
    <div class="modal-header">
      <h3 class="modal-title">상세정보</h3>
      <span class="close-button" id="closeButton">×</span>
    </div>
    <div class="modal-content">
      <table class="detail-table">
        <tr>
          <td>게시판명</td>
          <td id="boardName">자유게시판</td>
        </tr>
        <tr>
          <td>작성자</td>
          <td id="memberNickname">김등이</td>
        </tr>
        <tr>
          <td>날짜</td>
          <td id="boardWriteDate">2024-10-22 15:30:22</td>
        </tr>
        <tr>
          <td>제목</td>
          <td id="boardTitle">개발</td>
        </tr>
        <tr>
          <td>내용</td>
          <td id="boardContent">개발하자</td>
        </tr>
        <tr>
          <td>이미지</td>
          <td><a id="imageLink" href="#">logo.png(클릭시 이미지 경로로 이동)</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
