
<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/manager/manager-style.css">
  </head>

  <body>
    <main>
      <th:block th:replace="~{common/header}"></th:block>
      <th:block th:replace="~{manager/sideMenu}"></th:block>
      
      <section class="main-content">  <!-- main-content 클래스를 section에 추가 -->
        <div class="admin-main">      <!-- div로 감싸서 구조화 -->
          <h1>중고거래 게시글 관리</h1>
          
          <!-- 검색 영역 -->
          <form class="search-area" th:action="@{{code}(code=${boardCode})}" method="get" id="boardSearch">
            <input type="text"class="search-input" name="query" id="searchQuery" placeholder="검색어를 입력해주세요.">
            <button><img src="/images/search.png"></button>
          </form>
          
          <!-- 테이블 영역 -->
          <div class="table-container">
            <table class="admin-table">
              <thead>
                <tr>
                  <th>No</th>
                  <th>제목</th>
                  <th>내용</th>
                  <th>작성일</th>
                  <th>작성자</th>
                  <th>관리</th>
                </tr>
              </thead>
              <tbody>
                
                <!-- 게시글이 존재하지 않을 때 -->
                <th:block th:if="${#lists.isEmpty(boardList)}">
                  <!-- #lists : 타임리프에서 제공하는 list 기능 제공 객체 -->
                  <tr>
                    <th colspan="6">게시글이 존재하지 않습니다.</th>
                  </tr>
                </th:block>
                
                
                <!-- 게시글이 존재할 때 -->
                <th:block th:unless="${#lists.isEmpty(boardList)}">
                  
                  <tr th:each="board : ${boardList}" 
                  th:object="${board}">
                  <td th:text="*{rnum}">게시글 번호</td>     
                  <td>
                    <a th:unless = "${param.key}"
                    th:href="@{/board/3/{boardNo} (boardNo=*{boardNo})}" 
                    th:text="*{boardTitle}">게시글 제목</a>
                    
                    <!-- 검색인 경우 -->
                    <a th:if = "${param.key}"
                    th:href="@{/board/3/{boardNo} (boardNo=*{boardNo},
                    key=${param.key}, query=${param.query})}" 
                    th:text="*{boardTitle}">게시글 제목</a>
                    
                  </td>      
                  <td th:text="*{boardContent}">게시글 내용</td>     
                  <td th:text="*{boardWriteDate}">게시글 작성일</td>     
                      <td th:text="*{memberNickname}">게시글 작성자</td>     
                      <td>
                        <button class="manage-btn">상세정보</button>  
                      </td>
                    </tbody>
                  </table>
                </div>
                
                <!-- 페이지네이션 -->
                <!-- 게시글이 있을 때만 페이지네이션이 보이게 할 예정 -->
                <div class="pagination-area" th:unless="${#lists.isEmpty(boardList)}">
                  
                  <ul class="pagination" th:object="${pagination}">         
              <!-- 첫 페이지로 이동 -->
              <li><a >&lt;&lt;</a></li>         
              <!-- 이전 목록 마지막 번호로 이동 -->
              <li><a >&lt;</a></li>         
              <!-- 특정 페이지로 이동 -->
              
              <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                
                <!-- 현재 보고있는 페이지 -->
                <li th:if="${i} == *{currentPage}"> 
                  <a class="current" th:text="${i}">현재 페이지</a> 
                </li>         
                <!-- 보고있지 않은 페이지 -->
                <li th:unless="${i} == *{currentPage}"> 
                  <a th:text="${i}">이동할 수 있는 페이지</a> 
                </li>         
              </th:block>         
              <!-- 다음 목록 시작 번호로 이동 -->
              <li><a>&gt;</a></li>         
              <!-- 끝 페이지로 이동 -->
              <li><a>&gt;&gt;</a></li>
            </ul>
          </div>

        </div>
      </section>
    </main>

    <th:block th:replace="~{manager/transaction/boardInfo}"></th:block>
    <script th:inline="javascript">
      const pagination = /*[[${pagination}]]*/ "페이지네이션객체";
    </script>
    <script src="/js/manager/transaction/management.js"></script>
  </body>

</html>