<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>애완용품 중고거래 게시판</title>

    <th:block th:replace="~{common/common}"></th:block>

    <link rel="stylesheet" href="/css/flea/fleaList-style.css">

</head>
<body>
<main>

    <th:block th:replace="~{common/header}"></th:block>


    <section class="flea-list">

        <h1 class="board-name">애완용품 중고거래 게시판</h1>

        <section>
            <article class="search-area">
                <form action="#" method="GET">
                    <fieldset>

                        <!-- autocomplete="off" : 자동완성 off -->
                        <input type="search"
                               id="query"
                               name="query"
                               placeholder="검색어를 입력해 주세요."
                               autocomplete="off"
                        >

                        <!-- 제목 검색 -->
                        <input type="hidden" name="key" value="t">

                        <!-- 검색 버튼 -->
                        <button id="searchBtn" class="fa-solid fa-magnifying-glass"></button>

                    </fieldset>
                </form>

                <!-- 검색 결과 -->
                <ul id="searchResult" class="close"></ul>

            </article>
        </section>

        <h3 style="margin:30px"
            th:if="${param.query}"
            th:text="${param.query}">검색결과</h3>

        <div class="list-wrapper">
            <table class="list-table">

                <tbody>
                <!-- 게시글이 존재하지 않을 때 -->
                <th:block th:if="${#lists.isEmpty(fleaList)}">
                    <tr>
                        <th colspan="5">게시글이 존재하지 않습니다.</th>
                    </tr>
                </th:block>

                <!-- 게시글이 존재할 때 -->
                <th:block th:unless="${#lists.isEmpty(fleaList)}">
                    <tr th:each="flea : ${fleaList}">
                        <td th:text="${flea.boardNo}">게시글 번호</td>
                        <td>
                            <img th:if="${flea.getThumbnail() != null}"
                                 th:src="${flea.getThumbnail()}"
                                 class="list-thumbnail" />

                            <!-- 검색 아닌 경우 -->
                            <a th:unless="${param.key}"
                               th:href="@{/flea/{boardNo}(boardNo=${flea.boardNo})}"
                               th:text="${flea.boardTitle}">게시글 제목</a>

                            <!-- 검색인 경우 -->
                            <a  th:if="${param.key}"
                                th:href="@{/flea/{boardNo} (
                                boardNo = ${flea.boardNo},
                                key=${param.key}, query=${param.query}
                                )}"
                                th:text="${flea.boardTitle}">게시글 제목</a>

                        </td>
                        <td th:text="${flea.memberNickname}">닉네임</td>
                        <td th:text="${flea.boardWriteDate}">작성일</td>
                        <td th:text="${flea.readCount}">조회수</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>

        <div class="btn-area">
            <!-- 로그인 상태일 때만 글쓰기 버튼 노출 -->
            <button th:if="${session.loginMember}" id="insertBtn">글쓰기</button>
        </div>

        <div class="pagination-area" th:unless="${#lists.isEmpty(fleaList)}">
            <ul class="pagination" th:object="${pagination}">
                <li><a th:href="@{/flea/{boardNo}(boardNo=${pagination.startPage})}">&lt;&lt;</a></li>
                <li><a th:href="@{/flea/{boardNo}(boardNo=${pagination.prevPage})}">&lt;</a></li>

                <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                    <li th:if="${i} == ${pagination.currentPage}">
                        <a class="current" th:text="${i}">현재 페이지</a>
                    </li>
                    <li th:unless="${i} == ${pagination.currentPage}">
                        <a th:href="@{/flea/{boardNo}(boardNo=${i})}" th:text="${i}">이동할 수 있는 페이지</a>
                    </li>
                </th:block>

                <li><a th:href="@{/flea/{boardNo}(boardNo=${pagination.nextPage})}">&gt;</a></li>
                <li><a th:href="@{/flea/{boardNo}(boardNo=${pagination.maxPage})}">&gt;&gt;</a></li>
            </ul>
        </div>

    </section>
</main>

<th:block th:replace="~{common/footer}"></th:block>

<script th:inline="javascript">
    const pagination = /*[[${pagination}]]*/ "페이지네이션 객체";
</script>
<script src="/js/flea/fleaList.js"></script>

</body>
</html>
