<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 페이지</title>

  <th:block th:replace="~{common/common}"></th:block>
  <link rel="stylesheet" href="/css/manager/manager-style.css">
  <link rel="stylesheet" href="/css/manager/boardManager/boardManager.css">
</head>


<body>
  <main>
    <th:block th:replace="~{common/header}"></th:block>
    <th:block th:replace="~{manager/sideMenu}"></th:block>

    <section class="main-content"> <!-- main-content 클래스를 section에 추가 -->
      <div class="admin-main"> <!-- div로 감싸서 구조화 -->
        <h1>게시판 신고 목록</h1>

        <!-- 검색 영역 -->
        <form class="search-area" th:action="@{{code}(code=${boardCode})}" method="get" id="boardSearch">

          <select name="key" id="searchKey">
            <option value="t">제목</option>
            <option value="c">내용</option>
            <option value="tc">제목+내용</option>
            <option value="w">작성자</option>
          </select>

          <input type="text" class="search-input" name="query" id="searchQuery" placeholder="검색어를 입력해주세요.">
          <button>검색 아이콘 자리</button>
        </form>

        <!-- 테이블 영역 -->
        <div class="table-container">
          <table class="admin-table">
            <thead>
              <tr>
                <th>No</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성일</th>
                <th>작성자</th>
                <th>관리</th>
              </tr>
            </thead>

            <tbody id="boardList">
              <tr>

                <td>1</td>
                <td>hong</td>
                <td>내용</td>
                <td>2024-03-21 14:00:44</td>
                <td>닉네임</td>
                <td id="detailModal">상세정보</td>
              </tr>

            </tbody>
          </table>
        </div>
        

        <!-- 페이지네이션 -->
        <div class="pagination-area">
          <div id="likePaginationBox" class="pagination"></div>
        </div>


        
      <!-- 모달 백그라운드 -->
      <div class="modal-background" id="modalBackground" style="display: none;">
        <!-- 모달 컨테이너 -->
        <div class="modal-container">
          <!-- 모달 헤더 -->
          <div class="modal-header">
            <span class="modal-title">상세정보</span>
            <div class="button-group">
              <button class="delete-btn">삭제</button>
              <button class="close-btn">닫기</button>
            </div>
          </div>

          <!-- 정보 테이블 -->
          <table class="info-table">
            <tr>
              <th>게시판명</th>
              <td>자유게시판</td>
            </tr>
            <tr>
              <th>작성자</th>
              <td class="board-writer">길동이</td>
            </tr>
            <tr>
              <th>날짜</th>
              <td class="board-date">2024-10-22 15:30:22</td>
            </tr>
            <tr>
              <th>제목</th>
              <td class="board-title">개발</td>
            </tr>
            <tr>
              <th>내용</th>
              <td class="board-content">개발하자</td>
            </tr>
            <!-- <tr>
              <th>이미지</th>
              <td><a href="path/to/logo.png" class="board-image" target="_blank">logo.png(클릭시 이미지 경로로 이동)</a></td>
            </tr> -->
          </table>
        </div>
      </div>
      <!-- 모달 백그라운드 -->

      </div>
    </section>
  </main>

  <script src="/js/manager/boardmanager/boardManagement.js"></script>
</body>

</html>